name: RPA Reclamos

on:
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install pandas openpyxl selenium webdriver-manager requests

      - name: Run Script
        env:
          PQRD_USER: ${{ secrets.PQRD_USER }}
          PQRD_PASS: ${{ secrets.PQRD_PASS }}
        # Se agregan comillas por el espacio en el nombre del archivo
        run: python "Web Scraping Datos.py"

      - name: Upload Results
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: resultado-final
          path: |
            Reclamos.xlsx
            anexos/
